@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: roboto-bold;
    src: url(/fonts/Roboto-Bold.ttf) format(truetype);
  }

  @font-face {
    font-family: roboto-medium;
    src: url(/fonts/Roboto-Medium.ttf) format(truetype);
  }
  @font-face {
    font-family: roboto-reg;
    src: url(/fonts/Roboto-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: vazir-medium;
    src: url(/fonts/Vazir-Medium.ttf) format(truetype);
  }
  @font-face {
    font-family: vazir;
    src: url(/fonts/Vazir.ttf) format(truetype);
  }
}
